*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --top-height: 50px;
  
}
body{
 position: relative;
}
header{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  
}
.topo{
  display: flex;
  align-items: center;
  gap: 30px;
  padding-inline: 20px;
  height: var(--top-height); 
}
.topo img{
  width: auto;
  width: 20px;
}
.icons{
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons .user-ico{
  border-radius: 100%;
  width: 32px;
  height: auto;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.text h3{
  font-weight: 400;
  font-size: 13px;
  
}
/*Main section*/
main{
  display: flex;
  max-width: 610px;
  height: calc(100vh - (2 * var(--top-height)) - 4px);
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding-inline: 20px;
  gap: 20px;
}
.logo img{
  max-width:272px;
}
.center-search{
  width: 100%;
  margin-bottom: 25vh;
}
.center-search .camp-search{
  display: flex;
  border: 1px solid rgba(172, 172, 172, 0.37);
  width: 100%;
  border-radius: 30px;
  padding: 5px 14px;
  align-items: center;
  
}
.camp-search .lupa{
  width: 20px;
  display: flex;
  align-items: center;
}
.camp-search input{
  border: unset;
  flex: 1;
  margin-inline: 10px;
  outline: 0;
  height: 30px;
}
.camp-search input::selection{
  border: unset;
}
.camp-search .keyboard{
  width: 20px;
  display: flex;
  align-items: center;
}
.center-search .search-more{
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-top: 30px;
 
}
.search-more a{
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 14px;
  color: #3c4043;
  padding: 10px;
}
.search-more a:hover{
  border: 1px solid  rgba(128, 128, 128, 0.329);
}
#country{
  position: absolute;
  color: #70757a;
  left: 30px;
  bottom: 65px;
  font-size: 15px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  border-top: 1px solid  rgba(128, 128, 128, 0.329);
  height: var(--top-height);
  gap: 20%;
}
.left-side{
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.right-side{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
footer a{
  color: #70757a;
  
  text-decoration: none;
  font-size: 14px;
}
@media (max-width:860px){
  footer{
    flex-direction: column;
    gap: 5px;
  }
  .left-side, .right-side{
    width: 100%;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
  }
}